/* ---------- Team Section ---------- */

#section-team {
  background-color: #e6e6e6;

  img {
    width: 150px;
    height: 150px;
    border: 5px solid $white;
    margin-bottom: 10px;
  }

  p {
    margin-bottom: 20px;
  }
}
